.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align-last: right;
  }
  
  button {
    width: 70px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
  }
  